/*
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url('/assets/bg.jpg');
}

h1 {
  color: #DE6A6D;
  font-family: 'Slackey', cursive;
  font-size: 72px;
  margin: 0;
  padding: 0;
  clear: both;
}

h1.index {
  margin: 100px 0 35px 0;
  font-size: 68px;
  letter-spacing: -3px;
}

h1.model-index {
  margin: 80px 0 35px 0;
  display: block;
  clear: both;
}

#submenu {
  display: block;
  float: left;
  width: 100%;
  margin: 0 auto 35px;
  background-color: #e2eeca;
  font-size: 14px;
  border: 2px #d5e0be solid;
}

ul {
  float: left;
  margin: 0 auto;
}

li {
  float: left;
  margin: 0;
  padding: 10px;
  display: inline-block;
}

li a, .username a:visited {
  color: #28A872;
}

.username {
  float: right;
  padding: 0 20px 0 0;
}

#container {
  width: 800px;
  margin: 0 auto;
  background-color: #EDF9D5;
  clear: both;
}

#formContainer {
  width: 500px;
  margin: 0 auto;
  background-color: #EDF9D5;
  clear: both;
  border: 7px #e2eeca solid;
}

#formContainer form {
  margin-top: 0;
}

#usersContainer {
  width: 500px;
  margin: 0 auto;
  background-color: #EDF9D5;
  clear: both;
}

.catContainer, table {
  text-align: center;
  padding: 45px 50px;
  border: 7px #e2eeca solid;
}

table {
  width: 100%;
}

th, td {
  color: #DE6A6D;
  text-align: left;
}

.allCats th a {
  color: #28a870;
  text-decoration: none;
}

.allCats th a:hover {
  color: #228e5f;
}

.allCats th:nth-of-type(3),
.allCats th:nth-of-type(4) {
  width: 80px;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
}

.allCats td:nth-of-type(3),
.allCats td:nth-of-type(4) {
  text-align: center;
}

.allCats td span {
  font-size: 20px;
  padding: 19px 25px;
  background-color: #DE6A6D;
  color: #fff;
  border-radius: 30px;
}

h1 a, table td a {
  text-decoration: none;
}

.picWithBtn:nth-of-type(1) {
  float: left;
  text-align: center;
}

.picWithBtn:nth-of-type(2) {
  float: right;
  text-align: center;
}

.catImg {
  width: 300px;
  height: 225px;
  overflow: hidden;
  position: relative;
  border-top: 20px #fff solid;
  border-left: 10px #fff solid;
  border-right: 10px #fff solid;
  display: block;
}

.catImg img {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto; 
  min-height: 100%;
  max-width: 300px;
}

.picWithBtn {
  width: 320px;
  float: left;
}

.catImg:after {
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 120%;
  padding-bottom: 120%;
  box-shadow: inset 0px 0px 75px 75px rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 0px 0px 75px 75px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0px 0px 75px 75px rgba(0,0,0,0.6);
}

.polaroid p {
  margin: 0 0 20px;
  padding: 15px 0 25px;
  color: #000;
  background-color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
}

.polaroid {
  box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 16px 1px rgba(0,0,0,0.25);
}

.clear {
  clear: both;
}

form {
  margin-top: 30px;
}

.page_404 {
  margin:20px auto 0;
  width:250px;
}

.catContainer input {
  background: none;
  background-color: #28a870;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
}

.catContainer input:hover {
  background-color: #228e5f;
  color: #fff;
  cursor: pointer;
}

#submenu a, .username a {
  text-decoration: none;
  font-weight: bold;
}

#submenu a:hover, 
.username a:hover {
  color: #228e5f;
}

.username {
  font-weight: bold;
  color: #228e5f;
}

.username p {
  margin-top: 10px;
}

h1 a {
  color: #B7D5BB;
}

h1 a:hover,
td, td a {
  color: #28a870;
}

td div {
  overflow: hidden;
  max-height: 80px;
  height: 80px;
  width: 100px;
  vertical-align: middle;
  position: relative;
  display: block;
}

td div img {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto; 
  width: 100px;
}

td a i.fa, th a i.fa {
  color: #B7D5BB;
  font-size: 24px;
  padding-left: 7px;
}

th a i.fa {
  color: #B7D5BB;
  font-size: 32px;
  padding-left: 2px;
}

td a i.fa:hover,
th a i.fa:hover {
  color: #28a870;
  text-decoration: none;
}

table.show tr:first-child td:nth-child(2),
table.new-edit tr:first-child td:nth-child(2) {
  text-align: right;
}

table.new-edit {
  border: none;
  font-size: 18px;
}

table.new-edit tr:first-child td:nth-child(1) {
  width: 100px;
}

table.new-edit tr:nth-child(3) {
  height: 40px;
}

table.new-edit tr:nth-child(2),
table.new-edit tr:nth-child(4) {
  height: 50px;
}

#formContainer form input,
#formContainer form textarea {
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  padding: 7px 5px;
  width: 100%;
  color: #28a870;
}

#formContainer form textarea {
  height: 50px;
}

.field_with_errors {
  width: 100%;
  height: auto !important;
}

#formContainer form input[name=commit] {
  background: none;
  background-color: #28a870;
  padding: 10px 15px;
  width: auto;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
}

#formContainer input[name=commit]:hover {
  background-color: #228e5f;
  cursor: pointer;
}

.imgDiv {
  height: 70px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
  border: 5px #e2eeca solid; 
}

.imgDiv img {
  width: 100px;
}

.showCatImg {
  width: 300px;
  border: 5px #e2eeca solid;
}

table.show tr:nth-child(2) td:first-child p {
  width: 310px;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
}

#error_explanation {
  color: #f00;
  font-weight: bold;
  margin-bottom: 20px;
}

#charNum {
  width: 100%;
  height: 25px;
  padding-left: 5px;
  font-size: 14px;
  color: #B7D5BB;
}

.tdcenter {
  text-align: center;
}